<div class="back-ground" style="background-image:url(<%= asset_path "library.jpg" %>)" /></div>
<div class="toppage">
  <br><br><br>
  <h4>自分で本を、選んでみよう。</h4>
  <br><br><br><br>
  <div class="icon-table">
    <a href="<%= categories_category_path() %>" class="left-icon"><i class="fi-book ch-icon"></i><br><h3><strong>選書する</strong></h3></a>
    <br><br>
    <a href="<%= posts_path() %>" class="right-icon"><i class="fi-comments ch-icon"></i><br><h3><strong>掲示板へ</strong></h3></a>
  </div>
  <br><br><br><br>
</div>
