<h1>一覧</h1>

<div class="row">
  <% @category.books.each do |category| %>
  <div class="large-3 columns">
    <div class="inner">
      <p class="eyecatch"><%= image_tag category.image_url %></p>
      <strong><%= link_to category.name, category_path(id: category.id) %></strong>
      <p class="text-right more"><%= render partial: 'books/books', locals: { book: @book } %></p>
    </div>
  </div>
  <% end %>
  <%= paginate @category.books.page(params[:page]) %>
</div>
