<div style="top:120px;position:relative;">
  <h1>本紹介一覧</h1>
  <% @posts.each do |post| %>
    <a href="<%= post_path(id: post.id) %>"><%= image_tag post.image_url %></a>
  <% end %>

  <br>

  <%= link_to 'New Post', new_post_path %>

</div>
