<div style="top:120px;position:relative;text-align:center;">
  <h1>本紹介一覧</h1>
  <br><br>
  <div class="row">

       <% @posts.each do |post| %>

           <div class="columns medium-4">
             <a href="<%= post_path(id: post.id) %>">
               <%= image_tag post.image_url, class: "book" %>
             </a>
           </div>

       <% end %>

  </div>

  <br>

  <%= link_to 'New Post', new_post_path %>

</div>
