.pitch {
  font-size: 75px;
  color: #FFFFFF;
  text-shadow: rgb(55, 0, 0) 0px 0px 20px, rgb(0, 255, 0) 0px 0px 40px, rgb(0, 0, 255) 0px 0px 30px;
  text-align:center;
  position:absolute;
  top:50%;
  left:51%;
  width:100%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.scroll {
  top: 60%;
  width: 100%;
  position: absolute;
  z-index: 2;
  text-align: center;
}
.scroll i,
.scroll h4 {
  color: #444444;
}
.columns {
  margin-bottom: 30px;
}

.desc {
  font-size: 12px;
}

.more {
  margin-bottom: 0;
}

.head-box {
  width: 110px;
  height: 110px;
  background-color: #66CDAA;
  position: fixed;
  z-index: 3;
  left: 120px;
  text-align: center;
  display: table;
  margin-top: 0;
}
.head-box h5 {
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;
}
.left-icon:hover,
.right-icon:hover,
.head-box:hover {
  opacity:0.8;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #FFFFFF;
}
ul.list-nav {
  display: table;
  margin-left: auto;
  text-align: center;
  width: 20%;
  height: 60px;
}
ul.list-nav li {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
}

.back-ground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 60px;
  -webkit-filter: grayscale(50%);
}

.toppage {
  z-index: 1;
  top: 1000px;
  position: relative;
  background-color: #FFFFFF;
  text-align: center;
}
.icon-table {
  display: table;
  border-collapse: separate;
  border-spacing: 120px 0;
  margin: auto;
}
.ch-icon {
  color: #66CDAA;
  vertical-align: middle;
  font-size: 200px;
}

.right-icon,
.left-icon {
  width: 300px;
  height: 300px;
  display: table-cell;
  border: 10px solid #66CDAA;
}
.left-icon h3,
.right-icon h3 {
  color: #66CDAA;
}

.block-table {
  margin-right: 200px;
  margin-left: 200px;
  top:200px;
}

.form-style {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: relative;
  top: 120px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require foundation
 //= require foundation_and_overrides

 */
 @import "foundation_and_overrides.scss";
 @import 'foundation-icons';
