.inner {
  border: 1px solid #ddd;
  padding: 15px;
}

.eyecatch {
  margin-bottom: 1em;
  & img {
    width: 480;
  }
}

.columns {
  margin-bottom: 30px;
}

.desc {
  font-size: 12px;
}

.more {
  margin-bottom: 0;
}

.head-box {
  width: 110px;
  height: 110px;
  background-color: #66CDAA;
  position: fixed;
  z-index: 2;
  left: 120px;
  text-align: center;
  display: table;
}
.head-box h5 {
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;
}
.head-box:hover {
  filter:alpha(opacity=80);
  opacity:0.8;
}

ul.list-nav {
  display: table;
  margin-left: auto;
  text-align: center;
  width: 20%;
  height: 60px;
  z-index: 1;
}
ul.list-nav li {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
}

.back-ground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 60px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require foundation
 //= require foundation_and_overrides

 */
 @import "foundation_and_overrides.scss";
 @import 'foundation-icons';
