<div class="set" style="text-align:center;">
  <h1>カテゴリ一覧</h1>
  <% Category.all.each do |category| %>

       <div>
         <%= link_to category.name, categories_index_path(id: category.id) %>
       </div>

  <% end %>
</div>
