<div class="set row">
  <h1 style="text-align:center;"><%= @category.name %></h1><br>
  <% @books.each do |book| %>

    <div class="columns medium-4">
      <a href="/categories/<%= book.id %>">
        <%= image_tag book.image_url, class: "book"%>
      </a>
    </div>

  <% end %>
  <%= paginate @category.books.page(params[:page]) %>
</div>
