<h1>一覧</h1>

<div>
  <div class="">
    <ul class="" >
      <% @category.books.each do |category| %>
      <li class="">
        <div class="">
          <%= image_tag category.image_url %>
        </div>
        <div class="">
          <%= category.name %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
